{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}


<div class="container my-5">
    <div class="row">
        <div class="col-md-6">

            <div class="card p-2">
                <div class="card-body">
                    <div
                        class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0">
                        <form>
                            <div class="row">
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <input class="form-control user-info" name="name" type="text" placeholder="Name" value="{{object.name}}" required />
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <input class="form-control user-info" name="mobile" type="tel" placeholder="Mobile" value="{{object.mobile}}" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <input class="form-control user-info" name="address" type="text" placeholder="Address" value="{{object.address}}" required />
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <input class="form-control user-info" name="city" value="Burhanpur" type="text" placeholder="City" value="{{object.city}}" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <input class="form-control user-info" name="state" value="Madhya Pradesh" type="text" placeholder="State" value="{{object.state}}" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <input class="form-control user-info" name="zip_code" value="450331" type="text" placeholder="Zip Code" value="{{object.zip_code}}" required />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="mb-3">
                                            <input class="form-control user-info" name="country" value="India" type="text" placeholder="Country" value="{{object.counter}}" required />
                                        </div>
                                    </div>
                            </div>

                            <section id="target-section">
                                {% for i in object.products.all %}
                                    <div class="grid-container">
                                        <div class="row item-row grid-item" preview-id="#row-{{forloop.counter}}">
                                            <div class="col-sm-4">
                                                <div class="mb-3">
                                                    <input type="text" name="name" id="name{{forloop.counter}}" class="form-control item"
                                                        placeholder="Name" value="{{ i.name }}" required />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mb-3">
                                                    <input type="number" name="rate" id="rate{{forloop.counter}}" class="form-control item"
                                                        placeholder="Rate" value="{{ i.rate }}" required />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mb-3">
                                                    <input type="number" name="weight" id="weight{{forloop.counter}}" class="form-control item"
                                                        placeholder="Weight" value="{{ i.weight }}" required />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mb-3">
                                                    <input type="number" name="making_charges" id="making_charges{{forloop.counter}}"
                                                        class="form-control item" placeholder="Making charges"
                                                        value="{{ i.making_charges }}"
                                                        required />
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mb-3">
                                                    <input type="number" name="tax" id="tax{{forloop.counter}}" class="form-control item"
                                                        placeholder="Tax"  value="{{ i.tax }}" required />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                
                                            </div>


                                        </div>
                                        <div class="grid-item">
                                            <i class="fa fa-close round-element remove-element" pk="{{i.id}}"
                                            style="background-color: red;"
                                            ></i>
                                        </div>
                                    </div>
                                {% endfor %}
                            </section>
                        </form>
                    </div>
                </div>
                <div class="permit-btn-wrapper gap-1">
                    <button type="button" class="btn btn-secondary add-icon"> Add Item </button>
                    <button type="button" class="btn btn-primary" id="save-form"
                        data-url="/document/form-builder/create/"> Save </button>

                </div>
                 <div class="col-md-12 d-flex align-items-center m-2">
                      <input type="number" id="advance-price" class="form-control me-2" />
                      <button type="button" class="btn btn-dark me-2" id="advance-payment">Deposit</button>
                </div>
                
                <div class="table-responsive">
                    <table class="table border-top m-0" id="response-table">
                        <thead>
                            <tr>
                                <th>Price</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in  object.advancepayment_set.all %}
                            <tr id="row-{{forloop.counter}}">
                                <td class="text-nowrap name">{{ i.price|floatformat:2  }}</td>
                                <td class="text-nowrap rate">{{ i.cr_at  }}</td>
                                <td>
                                   
                                    <a class="delete-modal" url="{% url 'advance-payment-delete' object.id i.id %}" title=""
                                    href="#" style="text-decoration: none;">
                                        <i class="fa fa-close" style="color: red;"></i>
                                    </a>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-xl-6">
            <div class="card p-1">
                <div class="card-body">
                    <div
                        class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0">
                        <div class="mb-xl-0 mb-4">
                            <div class="d-flex svg-illustration mb-3 gap-2">
                                <span class="app-brand-logo demo">

                                    <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <defs>
                                            <path
                                                d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                                                id="path-1"></path>
                                            <path
                                                d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                                                id="path-3"></path>
                                            <path
                                                d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                                                id="path-4"></path>
                                            <path
                                                d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                                                id="path-5"></path>
                                        </defs>
                                        <g id="g-app-brand" stroke="none" stroke-width="1" fill="none"
                                            fill-rule="evenodd">
                                            <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                                                <g id="Icon" transform="translate(27.000000, 15.000000)">
                                                    <g id="Mask" transform="translate(0.000000, 8.000000)">
                                                        <mask id="mask-2" fill="white">
                                                            <use xlink:href="#path-1"></use>
                                                        </mask>
                                                        <use fill="#696cff" xlink:href="#path-1"></use>
                                                        <g id="Path-3" mask="url(#mask-2)">
                                                            <use fill="#696cff" xlink:href="#path-3"></use>
                                                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3">
                                                            </use>
                                                        </g>
                                                        <g id="Path-4" mask="url(#mask-2)">
                                                            <use fill="#696cff" xlink:href="#path-4"></use>
                                                            <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4">
                                                            </use>
                                                        </g>
                                                    </g>
                                                    <g id="Triangle"
                                                        transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                                                        <use fill="#696cff" xlink:href="#path-5"></use>
                                                        <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5">
                                                        </use>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>

                                </span>
                                <span class="app-brand-text demo text-body fw-bold">Iqra Jewllers</span>
                            </div>
                            <p class="mb-1">Manda Gali, Khankaward</p>
                            <p class="mb-1">Burhanpur, MP (450331)</p>
                            <p class="mb-0">9691813681</p>
                        </div>
                        <div>
                            <h4>Invoice #{{object.id}} </h4>
                            <div class="mb-2">
                                <span class="me-1">Date Issues:</span>
                                <span class="fw-medium">{{object.cr_at|date:"d/m/Y"}}</span>
                            </div>
                            <!-- <div>
                                <span class="me-1">Date Due:</span>
                                <span class="fw-medium">29/08/2020</span>
                            </div> -->
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <div class="row p-sm-3 p-0">
                        <div class="col-xl-6 col-md-12 col-sm-5 col-12 mb-xl-0 mb-md-4 mb-sm-0 mb-4">
                            <h6 class="pb-2">Invoice To:</h6>
                            <section id="user-info">
                                <p class="mb-1 name">{{object.name}},</p>
                                <p class="mb-1 mobile">{{object.mobile}},</p>
                                <p class="mb-1 address">{{object.address}},</p>
                                <p class="mb-1 city">{{object.city}},</p>
                                <p class="mb-1 zip_code">{{object.zip_code}},</p>
                                <p class="mb-1 state">{{object.state}},</p>
                                <p class="mb-1 country">{{object.country}}</p>
                            </section>
                            

                        </div>
                        
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table border-top m-0" id="response-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Rate</th>
                                <th>Weight</th>
                                <th>Making Charges</th>
                                <th>Tax</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in object.products.all %}
                            <tr id="row-{{forloop.counter}}">
                                <td class="text-nowrap name">{{ i.name }}</td>
                                <td class="text-nowrap rate">{{ i.rate|floatformat:2  }}</td>
                                <td><span class="weight">{{ i.weight|floatformat:2  }}</span>-grams</td>
                                <td class="making_charges">{{ i.making_chatges|floatformat:2  }}</td>
                                <td class="tax">{{ i.tax|floatformat:2  }}</td>
                                <td class="price">{{ i.price|floatformat:2  }}</td>
                            </tr>
                            {% endfor %}


                            <tr>
                                <td colspan="3" class="align-top px-4 py-5">
                                    <!-- <p class="mb-2">
                                        <span class="me-1 fw-medium">Salesperson:</span>
                                        <span>Alfie Solomons</span>
                                    </p>
                                    <span>Thanks for your business</span> -->
                                </td>
                                <td class="text-end px-4 py-5">
                                    <p class="mb-2">Subtotal:</p>
                                    <p class="mb-2" >Making Charges:</p>
                                    <p class="mb-2">Tax:</p>
                                    <!-- <p class="mb-2">Desposit:</p> -->
                                    <p class="mb-0">Total:</p>
                                </td>
                                <td class="px-4 py-5">
                                    <p class="fw-medium mb-2" id="subtotal">Rs{{object.subtotal|floatformat:2 }}</p>
                                    <p class="fw-medium mb-2" id="making-charges">Rs{{object.making_charges|floatformat:2 }}</p>
                                    <p class="fw-medium mb-2" id="tax">Rs{{object.tax|floatformat:2 }}</p>
                                    <!-- <p class="fw-medium mb-2">
                                        Rs{{ object.advance_payment_total|floatformat:2 }}
                                       
                                    </p> -->
                                    <p class="fw-medium mb-0" id="total">Rs{{object.total|floatformat:2 }}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <span class="fw-medium">Note:</span>
                            <span>Thank you for your purchase; we look forward to serving you again!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}
{% include 'invoice/js.html' %}
{% endblock %}