{% extends "base.html" %}

{% block content %}

<div class="container text-center">
  <h1 class="mt-5">Hello, {{request.user.email}}!</h1>
  {% if request.user.is_authenticated %}
    <p>Last login: {{ user.last_login|date:"D, d M Y H:i:s" }}</p>
  {% endif %}

</div>

<div class="container mt-4">
  <div class="d-flex justify-content-between mb-2">
      <h2>Invoice Table</h2>
      <a class="btn btn-primary" href="{% url 'invoice-create' %}">Add New</a>
     
  </div>

  <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Mobile</th>
              <th scope="col">Adress</th>
              <th scope="col">Total</th>
              <th scope="col">View</th>
              <th scope="col">Action</th>
          </tr>
      </thead>
      <tbody>
        {% for i in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.mobile }}</td>
            <td>{{ i.address }}</td>
            <td>{{ i.total }}</td>
            <td>
                <a href="{% url 'invoice-detail' i.id %}" target="_blank" style="text-decoration: none;">
                    <i class="fa fa-eye"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'invoice-edit' i.id %}" target="_blank" style="text-decoration: none;">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="delete-modal" url="/invoice/delete/{{i.id}}/" title=""
                href="#" style="text-decoration: none;">
                    <i class="fa fa-close" style="color: red;"></i>
                </a>
                
            </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

  {% if is_paginated %}    
    <div class="col-12">
        <ul class="pagination pagination-primary">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>             
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{i}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

</div>


{% endblock content %}