{% extends "base.html" %}

{% block content %}
<div class="container text-center">
  <h1 class="mt-5">Hello, {{request.user.email}}!</h1>
  {% if request.user.is_authenticated %}
    <p>Last login: {{ user.last_login|date:"D, d M Y H:i:s" }}</p>
  {% endif %}
</div>

<div class="container mt-4">
  <div class="d-flex justify-content-between mb-2">
    <div class="row mb-2">
        <div class="col-md-4">
            <select class="form-control" name="filed-name" id="filed-name">
                <option value="name">Name</option>
                <option value="mobile">Mobile</option>
                <option value="address">Address</option>
                <option value="total">Total</option>
            </select>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="search-input" placeholder="Search...">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" id="search-button">Search</button>
        </div>
    </div>
      <a class="btn btn-dark" href="{% url 'invoice-create' %}">Add New</a>
  </div>

  <table class="table table-striped" id="invoice-table-body">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Mobile</th>
              <th scope="col">Address</th>
              <th scope="col">Total</th>
              <th scope="col">View</th>
              <th scope="col">Action</th>
          </tr>
      </thead>
      <tbody>
        {% for i in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.mobile }}</td>
            <td>{{ i.address }}</td>
            <td>{{ i.total }}</td>
            <td>
                <a href="{% url 'invoice-detail' i.id %}" target="_blank" style="text-decoration: none;">
                    <i class="fa fa-eye"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'invoice-edit' i.id %}" target="_blank" style="text-decoration: none;">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="delete-modal" url="/invoice/delete/{{i.id}}/" title=""
                href="#" style="text-decoration: none;">
                    <i class="fa fa-close" style="color: red;"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>

  <div class="d-flex justify-content-between mb-2" id="pagination-controls">
    {% if is_paginated %}
        <div class="col-11">
            <ul class="pagination pagination-primary">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    <div class="col-1 text-primary">
        <p>Total:- {{ total_invoices }}</p>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
    function updateTable(invoices) {
        var $tbody = $('#invoice-table-body');
        $tbody.empty();
        invoices.forEach(function(invoice, index) {
            var row = `<tr>
                <td>${ index + 1 }</td>
                <td>${ invoice.name }</td>
                <td>${ invoice.mobile }</td>
                <td>${ invoice.address }</td>
                <td>${ invoice.total }</td>
                <td>
                    <a href="/invoice/detail/${ invoice.id }/" target="_blank" style="text-decoration: none;">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
                <td>
                    <a href="/invoice/edit/${ invoice.id }/" target="_blank" style="text-decoration: none;">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="delete-modal" url="/invoice/delete/${ invoice.id }/" title="" href="#" style="text-decoration: none;">
                        <i class="fa fa-close" style="color: red;"></i>
                    </a>
                </td>
            </tr>`;
            $tbody.append(row);
        });
    }

    function updatePagination(pagination) {
        var $pagination = $('#pagination-controls');
        $pagination.empty();
        if (pagination.is_paginated) {
            var paginationHtml = '<div class="col-11"><ul class="pagination pagination-primary">';
            if (pagination.has_previous) {
                paginationHtml += `<li class="page-item"><a class="page-link" href="?page=${ pagination.previous_page_number }">Previous</a></li>`;
            }
            pagination.page_range.forEach(function(page) {
                if (pagination.current_page == page) {
                    paginationHtml += `<li class="page-item active"><a class="page-link" href="#">${ page }</a></li>`;
                } else {
                    paginationHtml += `<li class="page-item"><a class="page-link" href="?page=${ page }">${ page }</a></li>`;
                }
            });
            if (pagination.has_next) {
                paginationHtml += `<li class="page-item"><a class="page-link" href="?page=${ pagination.next_page_number }">Next</a></li>`;
            }
            paginationHtml += `</ul></div><div class="col-1 text-primary"><p>Total:- ${ pagination.num_pages }</p></div>`;
            $pagination.append(paginationHtml);
        }
    }

    $(document).on("click", "#search-button", function(event) {
        event.preventDefault();
        const formData = {
            'field': $('#filed-name').val(),
            'value': $('#search-input').val(),
        };
        $.ajax({
            url: ".",
            type: 'GET',
            data: formData,
            dataType: 'json',
            success: function(data) {
                updateTable(data.invoices);
                updatePagination(data.pagination);
            }
        });
    });
</script>
{% endblock %}